<div>
  <ul class="breadcrumb">
    <li>Allocations</li>
    <li>All Allocations
      <span>
        <i class="fa fa-angle-double-right"></i>
      </span>
    </li>
  </ul>
</div>

<div id="main-min-height">
  <div class="page-content">

    <div class="page-title">
      <h4>
        Sprint Time Line
        <span>
          <button (click)="filtersVisibility()" class="">
            <span class="glyphicon glyphicon-filter"></span> Filter</button>
        </span>
      </h4>
    </div>

    <div class="page-body">

      <table id="filter-table" class="table" *ngIf="showFilters">
        <tr class="filter-text-fileds">
          <th>
            <input type="text" class="form-control" placeholder="Jira ID">
          </th>
          <th>
            <input type="text" class="form-control" placeholder="Type">
          </th>
          <th>
            <input type="text" class="form-control" placeholder="Dev">
          </th>
          <th>
            <input type="text" class="form-control" placeholder="QA">
          </th>
        </tr>
      </table>

      <!-- <ng-template [ngIf]="timelineData?.length>0">
        <app-timeline-chart [data]="timelineData | timelineFilter:'id':'VH'" [config]="config" [elementId]="elementId"></app-timeline-chart>
      </ng-template> -->


      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Jira ID</th>
            <th *ngFor="let date of dates" scope="col">{{date}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-template [ngIf]="(issues?.length)>0" [ngIfElse]="noResult">
            <tr *ngFor="let issue of issues;let i=index;">
              <td>
                <span class="my-tooltip">
                <a>{{issue.jiraId}}</a>
                <span class="tooltiptext">

                  <table class="table table-striped" style="width: 100%">
                    <tbody>
                      <tr height="50">
                        <td width="100">Theme</td>
                        <td>{{issue.theme}}</td>
                      </tr>

                      <tr height="50">
                        <td width="100">Type</td>
                        <td>{{issue.type}}</td>
                      </tr>

                      <tr height="50">
                        <td width="100">Summary</td>
                        <td>{{issue.summary}}</td>
                      </tr>

                      <tr height="50">
                        <td width="100">Status</td>
                        <td>{{issue.status}}</td>
                      </tr>

                      <tr height="50">
                        <td width="100">Dev</td>
                        <td>{{issue.dev}}</td>
                      </tr>

                      <tr height="50">
                        <td width="100">QA</td>
                        <td>{{issue.qa}}</td>
                      </tr>

                      <tr height="50">
                        <td width="100">Dev Est</td>
                        <td>{{issue.devEstimate}}</td>
                      </tr>

                      <tr height="50">
                        <td width="100">QA Est</td>
                        <td>{{issue.qaEstimate}}</td>
                      </tr>

                    </tbody>
                  </table>

                </span>
                </span>
              </td>
              <td [class.dev-column-color]="issue.devStart<=date && issue.devEnd>=date" [class.qa-column-color]="issue.qaStart<=date && issue.qaEnd>=date" *ngFor="let date of dates"></td>
            </tr>
          </ng-template>
        </tbody>
      </table>

      <div style="height: 300px;"></div>


    </div>

  </div>
</div>