<div>
  <ul class="breadcrumb">
    <li>Issues</li>
    <li>My Issues
    </li>
  </ul>
</div>

<div id="main-min-height">
  <div class="page-content">

    <div class="page-title">
      <h4>
        My Issues
      </h4>
    </div>

    <div class="page-body">

      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Jira ID</th>
                <th>Theme</th>
                <th>Type</th>
                <th>Jiara Summary</th>
                <th style="text-align: center">Status</th>
                <th>Dev</th>
                <th>QA</th>
                <th>Analysis Est</th>
                <th>Total Dev Est</th>
                <th>Rec/TCW Est</th>
                <th>Testing Est</th>
                <th>Total QA Est</th>
                <th>Totla Effort</th>
                <!-- <th style="text-align: center">Status</th>
            <th style="text-align: center">Allocation</th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>VH-7260</td>
                <td>H2H Change Requests</td>
                <td>Production Issue</td>
                <td>Pegasus Booking the Incorrect Rate Code</td>
                <td style="background: #FA4005;text-align: center">Open</td>
                <td>Ishan</td>
                <td>Ishan</td>
                <td class="center-align">2</td>
                <td class="center-align dev-column-color">2</td>
                <td class="center-align">2</td>
                <td class="center-align">2</td>
                <td class="center-align qa-column-color">2</td>
                <td class="center-align tot-effort-column-color">2</td>
                <!-- <td style="background: #FA4005;text-align: center">Open</td>
            <td style="text-align: center"><i class="glyphicon glyphicon-new-window"></i></td> -->
              </tr>
              <tr>
                <td>2</td>
                <td>VH-7260</td>
                <td>H2H Change Requests</td>
                <td>Production Issue</td>
                <td>Pegasus Booking the Incorrect Rate Code</td>
                <td style="background: #FA4005;text-align: center">Open</td>
                <td>Ishan</td>
                <td>Ishan</td>
                <td class="center-align">2</td>
                <td class="center-align dev-column-color">2</td>
                <td class="center-align">2</td>
                <td class="center-align">2</td>
                <td class="center-align qa-column-color">2</td>
                <td class="center-align tot-effort-column-color">2</td>
                <!-- <td style="background: #FA4005;text-align: center">Open</td>
            <td style="text-align: center"><i class="glyphicon glyphicon-new-window"></i></td> -->
              </tr>
              <tr>
                <td>3</td>
                <td>VH-7260</td>
                <td>H2H Change Requests</td>
                <td>Production Issue</td>
                <td>Pegasus Booking the Incorrect Rate Code</td>
                <td style="background: #FA4005;text-align: center">Open</td>
                <td>Ishan</td>
                <td>Ishan</td>
                <td class="center-align">2</td>
                <td class="center-align dev-column-color">2</td>
                <td class="center-align">2</td>
                <td class="center-align">2</td>
                <td class="center-align qa-column-color">2</td>
                <td class="center-align tot-effort-column-color">2</td>
                <!-- <td style="background: #EDB506;text-align: center">Open</td>
            <td style="text-align: center"><i class="glyphicon glyphicon-new-window"></i></td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>