<div id="main-min-height">

  <div class="col-md-3 dashboard-blue-card">
    Current Sprint: {{currentSprint.sprint}}
  </div>
  <div class="col-md-3 dashboard-blue-card">
    Code Freeze: {{currentSprint.codeFrezeDate}}
  </div>
  <div class="col-md-3 dashboard-blue-card">
    asas
  </div>
  <div class="col-md-3 dashboard-blue-card">
    asas
  </div>


  <div class="row">

    <!-- pie chart start-->
    <div class="col-md-8">
      <div class="card" id="summary-panel">

        <div class="card-title">
          <h4>Sprint Summary</h4>
        </div>

        <div class="card-content" *ngIf='data'>
          <app-pie-chart [data]="data" [config]="config" [elementId]="elementId"></app-pie-chart>

          
          <div class="alert alert-info center-text" role="alert">
            View Sprint summary detail report : <span><a target="#" href=""><strong>Click Here </strong><i class="fa fa-external-link"></i></a></span>
          </div>
        </div>

      </div>
    </div>
    <!-- pie chart end-->


    <!-- code freeze start-->
    <div class="col-md-4">
      <div class="card">

        <div class="card-title">
          <h4>Code Freeze Start</h4>
        </div>

        <div class="card-content">
          <countdown units="Days | Hours | Minutes | Seconds" end="{{currentSprint.codeFrezeDate}}"></countdown>
        </div>

      </div>
    </div>
    <!-- code freeze end -->


    <!-- details panel start-->
    <div class="col-md-4">
      <div class="card">

        <div class="card-title">
          <h4>Important Dates</h4>
        </div>

        <div class="card-content">
          <table class="table">
            <tbody>
              <tr>
                <td>Current Sprint</td>
                <td>{{currentSprint.sprint}}</td>
              </tr>
              <tr>
                <td>Days Remaining</td>
                <td>{{remainingDays}}</td>
              </tr>
              <tr>
                <td>Start Date</td>
                <td>{{currentSprint.startDate}}</td>
              </tr>
              <tr>
                <td>End Date</td>
                <td>{{currentSprint.endDate}}</td>
              </tr>
              <tr>
                <td>Code Fereze</td>
                <td>{{currentSprint.codeFrezeDate}}</td>
              </tr>
              <tr>
                <td>Regression</td>
                <td>{{currentSprint.regressionDate}}</td>
              </tr>
              <tr>
                <td>Hand Over</td>
                <td>{{currentSprint.handOverDate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- details panel end-->


    <!-- leave sheet start -->
    <div class="col-md-8">
      <div class="card" id="leave-sheet">

        <div class="card-title">
          <h4>
            Today Leave Sheet
            <span>
                <button (click)="addLeave()" class=""><span class="glyphicon glyphicon-plus"></span> Add</button>
            </span>
          </h4>

          <div *ngIf="newLeaveDiv" class="add-leave">
            <div class="leave-bubble">

              <div style="padding: 5%;margin-top: 15px;">
                <form>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Type</label>
                    <div class="col-sm-8">
                      <select class="form-control">
                        <option value="1">Full Day</option>
                        <option value="2">Half Day</option>              
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Date</label>
                    <div class="col-sm-8">
                      <input min="{{date | date:'yyyy-MM-dd'}}" max="{{dateMax | date:'yyyy-MM-dd'}}" [ngModel]="startDate | date:'yyyy-MM-dd'"
                        (ngModelChange)="startDate = $event" name="startDate" type="date" class="form-control">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-8">
                      <button type="submit" class="btn">Submit</button>
                    </div>
                  </div>

                </form>
              </div>

            </div>
          </div>

        </div>

        <div class="card-content">
          <div *ngIf="(leaveDetails?.length)>0;else noResult">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Leave Type</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let leave of leaveDetails;let i=index">
                  <td scope="row">{{i+1}}</td>
                  <td>{{leave.firstName}} {{leave.lastName}}</td>
                  <td>
                    <span *ngIf="leave.type=='full'">Full Day</span>
                    <span *ngIf="leave.type=='half'">Half Day</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <ng-template #noResult>No result found</ng-template>

        </div>
      </div>
    </div>
    <!-- leave sheet end -->

    <!-- details panel start-->
    <div class="col-md-4">
      <div class="card">

        <div class="card-title">
          <h4>Environments Details</h4>
        </div>

        <div class="card-content">
          <table class="table">
            <thead>
              <tr>
                <th>Environment</th>
                <th>version</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let env of environments">
                <td>{{env.environment}}</td>
                <td>{{env.version}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- details panel end-->

    <div class="col-md-6"></div>



  </div>