<div id="main-min-height">

  <div class="col-md-3 dashboard-blue-card">
    Current Sprint: 48
  </div>
  <div class="col-md-3 dashboard-blue-card">
    Code Freeze: 2018-08-08 
  </div>
  <div class="col-md-3 dashboard-blue-card">
    asas
  </div>
  <div class="col-md-3 dashboard-blue-card">
    asas
  </div>


  <div class="row">

    <!-- pie chart start-->
    <div class="col-md-8">
      <div class="card" id="summary-panel">

        <div class="card-title">
          <h4>Sprint Summary</h4>
        </div>

        <div class="card-content">
          <app-pie-chart [data]="data1" [config]="config1" [elementId]="elementId1"></app-pie-chart>
        </div>

      </div>
    </div>
    <!-- pie chart end-->


    <!-- code freeze start-->
    <div class="col-md-4">
      <div class="card">

        <div class="card-title">
          <h4>Code Freeze Start</h4>
        </div>

        <div class="card-content">
          <countdown units="Days | Hours | Minutes | Seconds" end="{{importantDates.codeFrezeDate}}"></countdown>
        </div>

      </div>
    </div>
    <!-- code freeze end -->


    <!-- details panel start-->
    <div class="col-md-4">
      <div class="card">

        <div class="card-title">
          <h4>Important Dates</h4>
        </div>

        <div class="card-content">
          <table class="table">
            <tbody>
              <tr>
                <td>Current Sprint</td>
                <td>46</td>
              </tr>
              <tr>
                <td>Days Remaining</td>
                <td>6</td>
              </tr>
              <tr>
                <td>Start Date</td>
                <td>{{importantDates.startDate}}</td>
              </tr>
              <tr>
                <td>End Date</td>
                <td>{{importantDates.endDate}}</td>
              </tr>
              <tr>
                <td>Code Fereze</td>
                <td>{{importantDates.codeFrezeDate}}</td>
              </tr>
              <tr>
                <td>Regression</td>
                <td>{{importantDates.regressionDate}}</td>
              </tr>
              <tr>
                <td>Hand Over</td>
                <td>{{importantDates.handOverDate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- details panel end-->


    <!-- leave sheet start -->
    <div class="col-md-6">
      <div class="card" id="leave-sheet">

        <div class="card-title">
          <h4>
            Today Leave Sheet
            <span>
                <button (click)="addLeave()" class=""><span class="glyphicon glyphicon-plus"></span> Add</button>
            </span>
          </h4>

          <div *ngIf="newLeaveDiv" class="add-leave">
            <div class="leave-bubble">

              <div style="padding: 5%;margin-top: 15px;">
                <form>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Type</label>
                    <div class="col-sm-8">
                      <select class="form-control">
                        <option value="1">Full Day</option>
                        <option value="2">Half Day</option>              
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Date</label>
                    <div class="col-sm-8">
                      <input min="{{date | date:'yyyy-MM-dd'}}" max="{{dateMax | date:'yyyy-MM-dd'}}" [ngModel]="startDate | date:'yyyy-MM-dd'"
                        (ngModelChange)="startDate = $event" name="startDate" type="date" class="form-control">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-8">
                      <button type="submit" class="btn">Submit</button>
                    </div>
                  </div>

                </form>
              </div>

            </div>
          </div>

        </div>

        <div class="card-content">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Leave Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td scope="row">2</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td scope="row">3</td>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <!-- leave sheet end -->


    <!-- details panel start-->
    <div class="col-md-6">
      <div class="card">

        <div class="card-title">
          <h4>Environments Details</h4>
        </div>

        <div class="card-content">
          <table class="table">
            <tbody>
              <tr>
                <td>Current Sprint</td>
                <td>46</td>
              </tr>
              <tr>
                <td>Days Remaining</td>
                <td>6</td>
              </tr>
              <tr>
                <td>Start Date</td>
                <td>2018-04-18</td>
              </tr>
              <tr>
                <td>End Date</td>
                <td>2018-04-18</td>
              </tr>
              <tr>
                <td>Code Fereze</td>
                <td>2018-04-18</td>
              </tr>
              <tr>
                <td>Regression</td>
                <td>2018-04-18</td>
              </tr>
              <tr>
                <td>Hand Over</td>
                <td>2018-04-18</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- details panel end-->

    <div class="col-md-6"></div>


    
  </div>