<div id="main-min-height">

  <div class="col-md-3 dashboard-blue-card">
    Current Sprint: 48
  </div>
  <div class="col-md-3 dashboard-blue-card">
    asas
  </div>
  <div class="col-md-3 dashboard-blue-card">
    asas
  </div>
  <div class="col-md-3 dashboard-blue-card">
    asas
  </div>


  <div class="row">

    <!-- pie chart start-->
    <div class="col-md-8">
      <div class="card" id="summary-panel">

        <div class="card-title">
          <h4>Sprint Summary</h4>
        </div>

        <div class="card-content">
          <app-pie-chart [data]="data1" [config]="config1" [elementId]="elementId1"></app-pie-chart>
        </div>

      </div>
    </div>
    <!-- pie chart end-->


    <!-- code freeze start-->
    <div class="col-md-4">
      <div class="card">

        <div class="card-title">
          <h4>Code Freeze Start</h4>
        </div>

        <div class="card-content">
          <countdown units="Days | Hours | Minutes | Seconds" end="July 22, 2018"></countdown>
        </div>

      </div>
    </div>
    <!-- code freeze end -->


    <!-- details panel start-->
    <div class="col-md-4">
      <div class="card">

        <div class="card-title">
          <h4>Important Dates</h4>
        </div>

        <div class="card-content">
          <table class="table">
            <tbody>
              <tr>
                <td>Current Sprint</td>
                <td>46</td>
              </tr>
              <tr>
                <td>Days Remaining</td>
                <td>6</td>
              </tr>
              <tr>
                <td>Start Date</td>
                <td>2018-04-18</td>
              </tr>
              <tr>
                <td>End Date</td>
                <td>2018-04-18</td>
              </tr>
              <tr>
                <td>Code Fereze</td>
                <td>2018-04-18</td>
              </tr>
              <tr>
                <td>Regression</td>
                <td>2018-04-18</td>
              </tr>
              <tr>
                <td>Hand Over</td>
                <td>2018-04-18</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- details panel end-->


    <!-- leave sheet start -->
    <div class="col-md-6">
      <div class="card" id="leave-sheet">

        <div class="card-title">
          <h4>
            Today Leave Sheet
            <span>
                <button class=""><span class="glyphicon glyphicon-plus"></span> Add</button>
            </span>
          </h4>

          <div class="add-leave">
            <div class="leave-bubble">sadasdas</div>
          </div>

        </div>

        <div class="card-content">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Leave Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <!-- leave sheet end -->


    <!-- details panel start-->
    <div class="col-md-6">
      <div class="card">

        <div class="card-title">
          <h4>Environments Details</h4>
        </div>

        <div class="card-content">
          <table class="table">
            <tbody>
              <tr>
                <td>Current Sprint</td>
                <td>46</td>
              </tr>
              <tr>
                <td>Days Remaining</td>
                <td>6</td>
              </tr>
              <tr>
                <td>Start Date</td>
                <td>2018-04-18</td>
              </tr>
              <tr>
                <td>End Date</td>
                <td>2018-04-18</td>
              </tr>
              <tr>
                <td>Code Fereze</td>
                <td>2018-04-18</td>
              </tr>
              <tr>
                <td>Regression</td>
                <td>2018-04-18</td>
              </tr>
              <tr>
                <td>Hand Over</td>
                <td>2018-04-18</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- details panel end-->


    <!-- pie chart -->
    <!-- <div class="col-md-8">
      <div class="panel panel-theme card panel-danger">
        <div class="panel-heading">Spring Summary</div>
        <div class="panel-body">

          <app-pie-chart [data]="data1" [config]="config1" [elementId]="elementId1"></app-pie-chart>

        </div>
      </div>
    </div> -->





    <div class="col-md-6"></div>
  </div>


  <h2>
    Collapsible Sidebar Using Bootstrap 3</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <div class="line"></div>

  <h2>Lorem Ipsum Dolor</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <div class="line"></div>

  <h2>Lorem Ipsum Dolor</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <div class="line"></div>

  <h3>Lorem Ipsum Dolor</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>