<div id="main-min-height">
  <div class="error-page">

    <div class="header-404">
      <img id="page-not-found" class="" src="../assets/images/404.png" />
      <h3 class="oops-text"><i class="fa fa-warning text-yellow"></i> Oops! Page Not Found.</h3>
    </div>

    <div class="row">
      <div class="col-md-12 error-gif">
        <img id="page-not-found" class="" src="../assets/images/page-not-found.gif" />

        <div class="bottom-text">
          <p class="sorry-text">Sorry, but the page you were trying to view does not exist.</p>
          <p>
            <a routerLink="">
              <i class="fa fa-angle-double-left"></i>
                Back to Home
            <i class="fa fa-home fa-3x" ></i>
          </a>
          </p>
          <h3 class="team-web-name">&#9400; Team Web 2018</h3>
        </div>

      </div>

    </div>


  </div>
</div>