<div id="main-min-height">
  <div class="error-page">

    <div style="position: absolute;z-index: 10;text-align: center;width: 100%">
      <h2>404</h2>
      <h3><i class="fa fa-warning text-yellow"></i> Oops! Page Not Found.</h3>
    </div>

    <div class="row" style="position: absolute;margin-bottom: -20px;text-align: center;width: 100%">
      <img id="page-not-found" class="" src="../assets/images/page-not-found.gif" />
    </div>

    <div style="position: absolute;z-index: 10;bottom: 90px;text-align: center;width: 100%">
      <p>Sorry, but the page you were trying to view does not exist.</p>
      <p>&#9400; Team Web 2018</p>
    </div>

  </div>
</div>