/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    background: #D8DDE4;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    border-right: 1px solid #bec9dc; 
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #e8ecf3;
    color: black;
    text-align: center;
}

#sidebar ul li:first-child{
    border-top: 1px #bec9dc solid;
}

#sidebar ul li{
    border-bottom: 1px #bec9dc solid;
}

#sidebar ul li a {
    padding: 13px;
    font-size: 1em;
    display: block;
    color: black;
    text-decoration: none;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #828282;
}

#sidebar ul li > a[aria-expanded="true"] {
    color: #fff;
    background: #666666;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #e8ecf3;
}

li span{
    margin-left: 15px;
}

a.active{
    background: #5388B4;
}

a.active span{
    color: #ffffff;
}