<!-- Sidebar Holder -->
<nav [class.active]="toggleSideBar" id="sidebar">
  <div class="sidebar-header">
    <h3>Team Web</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-home"></i>
          <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="fa fa-user-secret"></i>
            <span>Admin</span>
        </a>
    </li>
    <li>
      <a href="#issuesMenu" data-toggle="collapse" aria-expanded="false">
        <i class="fa fa-tasks"></i>
        <span>Issues</span>
      </a>
      <ul class="collapse list-unstyled" id="issuesMenu">
        <li><a routerLink="/my-issues" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My Issues</a></li>
        <li><a routerLink="/all-issues" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">All Issues</a></li>
        <li><a routerLink="/ongoing-issues" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Ongoing Issues</a></li>
      </ul>
    </li>
    <li>
      <a href="#allocationsMenu" data-toggle="collapse" aria-expanded="false">
          <i class="fa fa-calendar"></i>
          <span>Allocations</span>
      </a>
      <ul class="collapse list-unstyled" id="allocationsMenu">
        <li><a routerLink="/my-allocations" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My Allocations</a></li>
        <li><a routerLink="/all-allocations" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">All Allocations</a></li>
      </ul>
    </li>
    <li>
      <a href="#leave" data-toggle="collapse" aria-expanded="false">
          <i class="fa fa-image"></i>
          <span>Leave</span>
      </a>
      <ul class="collapse list-unstyled" id="leave">
        <li><a routerLink="/leave" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Apply Leave</a></li>
        <li><a routerLink="/leave-sheet" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Leave Sheet</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-user-circle-o"></i>
          <span>Profile</span>
      </a>
    </li>
    <li>
      <a routerLink="/team" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-group"></i>
          <span>Team</span>
      </a>
    </li>
  </ul>
</nav>