<!-- Sidebar Holder -->
<nav [class.active]="toggleSideBar" id="sidebar">
  <div class="sidebar-header">
    <h3>Team Web</h3>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a routerLink="">
        <i class="fa fa-home-o"></i>
        <span>Home</span>
    </a>
    </li>
    <li>
      <a href="#issuesMenu" data-toggle="collapse" aria-expanded="false">
        <i class="fa fa-tasks"></i>
        <span>Issues</span>
      </a>
      <ul class="collapse list-unstyled" id="issuesMenu">
        <li><a routerLink="/my-issues">My Issues</a></li>
        <li><a routerLink="/all-issues">All Issues</a></li>
        <li><a routerLink="/ongoing-issues">Ongoing Issues</a></li>
      </ul>
    </li>
    <li>
      <a href="#allocationsMenu" data-toggle="collapse" aria-expanded="false">
          <i class="fa fa-calendar"></i>
          <span>Allocations</span>
      </a>
      <ul class="collapse list-unstyled" id="allocationsMenu">
        <li><a routerLink="/my-allocations">My Allocations</a></li>
        <li><a routerLink="/all-allocations">All Allocations</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/leave">
          <i class="fa fa-image"></i>
          <span>Leave</span>
      </a>
    </li>
    <li>
      <a routerLink="/profile">
          <i class="fa fa-user-circle-o"></i>
          <span>Profile</span>
      </a>
    </li>
    <li>
      <a routerLink="/team">
          <i class="fa fa-group"></i>
          <span>Team</span>
      </a>
    </li>
  </ul>
</nav>