<div>
  <ul class="breadcrumb">
    <li>Leave</li>
    <li>Leave Sheet
      <span>
            <i class="fa fa-angle-double-right"></i>
          </span>
    </li>
  </ul>
</div>

<div id="main-min-height">
  <div class="page-content">

    <div class="page-title">
      <h4>Leave Sheet</h4>
    </div>

    <div class="page-body">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>2018-06-10</th>
            <th>2018-06-10</th>
            <th>2018-06-10</th>
            <th>2018-06-10</th>
            <th>2018-06-10</th>
            <th>2018-06-10</th>
            <th>2018-06-10</th>
            <th>2018-06-10</th>
            <th>2018-06-10</th>
            <th>2018-06-10</th>
          </tr>
        </thead>
        <tbody>
          <tr class="center-text">
            <td scope="row">1</td>
            <td style="text-align: left">Mark</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="background-color: #0EB01A;color: white;border: 1px solid #D5D5D5">8</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="center-text">
            <td scope="row">2</td>
            <td style="text-align: left">Mark</td>
            <td></td>
            <td style="background-color: #0EB01A;color: white;border: 1px solid #D5D5D5">8</td>
            <td></td>
            <td></td>
            <td></td>
            <td style="background-color: #0EB01A;color: white;border: 1px solid #D5D5D5">8</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="center-text">
            <td scope="row">3</td>
            <td style="text-align: left">Mark</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="background-color: #0EB01A;color: white;border: 1px solid #D5D5D5">8</td>
            <td style="background-color: #0EB01A;color: white;border: 1px solid #D5D5D5">8</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>