<div>
  <ul class="breadcrumb">
    <li>Allocations</li>
    <li>My Allocations
    </li>
  </ul>
</div>

<div id="main-min-height">
  <div class="page-content">

    <div class="page-title">
      <h4>
        My Time Line
      </h4>
    </div>

    <div class="page-body">
      <ng-template [ngIf]="(issues?.length)>0" [ngIfElse]="noResult">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Jira ID</th>
              <th>Theme</th>
              <th>Type</th>
              <th>Jiara Summary</th>
              <th style="text-align: center">Status</th>
              <th>Dev</th>
              <th>QA</th>

              <ng-template [ngIf]="userRole=='dev'">
                <th>Dev Start</th>
                <th>Dev End</th>
              </ng-template>

              <ng-template [ngIf]="userRole=='qa'">
                <th>QA Start</th>
                <th>QA End</th>
              </ng-template>
              <!-- <th style="text-align: center">Allocation</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let issue of issues;let i=index">
              <td>{{i+1}}</td>
              <td><a target="#" href="{{issue.jiraIdLink}}">{{issue.jiraId}}</a></td>
              <td>{{issue.theme}}</td>
              <td>{{issue.type}}</td>
              <td>{{issue.summary}}</td>
              <td style="background: #FA4005;" class="center-text">{{issue.status}}</td>
              <td>{{issue.dev}}</td>
              <td>{{issue.qa}}</td>

              <ng-template [ngIf]="userRole=='dev'">
                <td>2018-01-01</td>
                <td>2018-01-01</td>
              </ng-template>

              <ng-template [ngIf]="userRole=='qa'">
                <td class="center-align">2018-01-01</td>
                <td class="center-align">2018-01-01</td>
              </ng-template>
              <!-- 
            <td style="text-align: center"><i class="glyphicon glyphicon-new-window"></i></td> -->
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-12 sub-topic">
            <!-- <div class="line"></div> -->
            <h4>
              <i class="fa fa-clock-o" aria-hidden="true"></i> Time Line
            </h4>
            <!-- <div class="line"></div> -->
          </div>
        </div>

        <ng-template [ngIf]="timelineData">
          <app-timeline-chart [data]="timelineData" [config]="config" [elementId]="elementId"></app-timeline-chart>
        </ng-template>

      </ng-template>

      <ng-template #noResult>
        No results found
      </ng-template>
    </div>
  </div>
</div>